.header 
    padding-top: 20px
    &__logo
    &__slogan
        +FFGL
        font-size: 14px
        color: #000000
        line-height: 20px
        max-width: 150px
        padding-left: 30px
        margin-top: -8px
