.top_block_page.audit
  .form-work
    max-width: 298px
    overflow: hidden
    position: relative
    left: unset
    right: unset
    top: unset
    bottom: unset
    border-radius: 7px
    background-color: rgba(68, 115, 185, 0.9)
    margin-left: auto
    transform: translateY(-25%)
    padding: 44px 28px 29px
    .form-work__title
      padding-bottom: 17px
    .form-work__desc
      padding-bottom: 28px
    .form-work__row
      padding-bottom: 15px
    .form-work__link
      color: #ffffff
    @media (max-width: 800px)
      display: none
  .hidden-md
    display: block
  .visible-md
    display: none
.top_block_page__text_block
  @media (max-width: 1200px)
    top: 154px
    text-align: center
    .col-sm-5
      display: none
    .title
      max-width: 320px
      margin-left: auto
      margin-right: auto
      font-size: 32px
      line-height: 35px
      padding-bottom: 14px
    .title2
      max-width: 320px
      margin-left: auto
      margin-right: auto
      font-size: 18px
      line-height: 24px
      padding-bottom: 10px
      &:before
        display: none
    .desc
      max-width: 320px
      margin-left: auto
      margin-right: auto
      line-height: 23px
    .btn
      padding-top: 34px


.keysi.tarif
  background: none
  padding-top: 110px
  padding-bottom: 120px
  @media (max-width: 1200px)
    padding-top: 55px
    padding-bottom: 55px
    .keysi__slider-icon
      padding-top: 25px
  @media (max-width: 440px)
    .keysi__slider-icon
      padding-top: 45px
  h2
    padding-bottom: 65px
    @media (max-width: 1200px)
      padding-bottom: 16px
      font-size: 30px
      &:before
        margin-bottom: 6px
  .keysi__item-title
    padding-bottom: 17px
  .keysi__item-desc
    line-height: 21px
    padding-bottom: 9px
  .keysi__item-btn
    padding-top: 15px
    a
      background: #4473b9
  .keysi__price
    font-size: 30px
    +FFGB
    line-height: 62px
    span
      font-size: 12px
      vertical-align: top
  .keysi__item-content
    opacity: 1
    padding-top: 57px
    background: none
    &:hover
      background: rgba(68, 115, 185, 0.6)
      .keysi__item-btn a
        background: #c43939
      .keysi__item-pic
        &.pic1
          background: url("../images/tarif-icon-1-hover.png") no-repeat center top
        &.pic2
          background: url("../images/tarif-icon-2-hover.png") no-repeat center top
        &.pic3
          background: url("../images/tarif-icon-3-hover.png") no-repeat center top
        &.pic4
          background: url("../images/tarif-icon-4-hover.png") no-repeat center top
  .keysi__item-pic
    min-height: 96px
    text-align: center
    &.pic1
      background: url("../images/tarif-icon-1.png") no-repeat center top
    &.pic2
      background: url("../images/tarif-icon-2.png") no-repeat center top
    &.pic3
      background: url("../images/tarif-icon-3.png") no-repeat center top
    &.pic4
      background: url("../images/tarif-icon-4.png") no-repeat center top

.how-work.work2
  padding-top: 91px
  background: #fcfcfc
  padding-bottom: 115px
  @media (max-width: 1200px)
    padding-top: 53px
    padding-bottom: 38px  
    h2
      padding-bottom: 32px
      font-size: 30px
      &:before
        margin-bottom: 6px    
  .justify-content-center
    .how-work__item
      margin: 0 23px
      @media (max-width: 1200px)
        margin: 0 0 18px
  .how-work__item
    border-radius: 7px
    background-color: rgb(255, 255, 255)
    box-shadow: 0px 25px 35px 0px rgba(123, 138, 143, 0.1)
    @media (max-width: 1200px)
      width: 100%
      padding-left: 142px
      padding-right: 60px
      margin-bottom: 18px
    @media (max-width: 440px)
      padding-left: 102px
    .pic1
      background: url(../images/work-icon-1.png) no-repeat
      @media (max-width: 1200px)
        left: 50px
        top: 43px
      @media (max-width: 440px)
        left: 30px
    .pic2
      background: url(../images/work-icon-2.png) no-repeat
      @media (max-width: 440px)
        left: 20px
    .pic3
      background: url(../images/work-icon-3.png) no-repeat
      @media (max-width: 1200px)
        left: 47px
        top: 37px
      @media (max-width: 440px)
        left: 30px
    .pic4
      background: url(../images/work-icon-4.png) no-repeat
      @media (max-width: 1200px)
        left: 47px
        top: 30px
      @media (max-width: 440px)
        left: 28px
    .pic5
      background: url(../images/work-icon-5.png) no-repeat
      @media (max-width: 1200px)
        left: 38px
        top: 32px
      @media (max-width: 440px)
        left: 20px
    .text
      padding-bottom: 12px
    &:hover
      color: #FFF
      .pic1
        background: url(../images/work-icon-1-hover.png) no-repeat
      .pic2
        background: url(../images/work-icon-2-hover.png) no-repeat
      .pic3
        background: url(../images/work-icon-3-hover.png) no-repeat
      .pic4
        background: url(../images/work-icon-4-hover.png) no-repeat
      .pic5
        background: url(../images/work-icon-5-hover.png) no-repeat
  .how-work__item:hover
    background-color: rgb(196, 57, 57)
    box-shadow: 0px 30px 40px 0px rgba(68, 115, 185, 0.2)

.help-block
  background: url(../images/help-bg.jpg) no-repeat center bottom #fff
  padding-top: 111px
  padding-bottom: 50px
  @media (max-width: 1200px)
    background: none
    padding-top: 99px
    padding-bottom: 86px  
    .keysi__slider-icon
      padding-top: 12px
  h2
    &:before
      content: ''
      display: block
      width: 41px
      height: 3px
      margin: 0 auto 20px
      background: #4473b9
    +FFGB
    color: #000000
    font-size: 40px
    line-height: 62px
    text-align: center
    margin: 0
    padding-bottom: 4px
    @media (max-width: 1200px)
      padding-bottom: 32px
      font-size: 30px
      &:before
        margin-bottom: 14px
    @media (max-width: 440px)
      margin-left: -30px
      margin-right: -20px
  &__desc
    +FFGB
    font-size: 15px
    text-align: center
    padding-bottom: 23px
    @media (max-width: 1200px)
      display: none
  &__item
    cursor: pointer
    min-height: 50px
    padding-left: 73px
    font-size: 15px
    color: #000000
    +FFGB
    font-size: 15px
    line-height: 20px
    position: relative
    @media (max-width: 1200px)
      margin-bottom: 35px
    &:before
      content: '?'
      border-width: 1px
      border-color: rgb(68, 115, 185)
      border-style: solid
      border-radius: 50%
      background-color: rgb(255, 255, 255)
      position: absolute
      width: 48px
      height: 48px
      color: #4473b9
      font-size: 24px
      line-height: 46px
      text-align: center
      +FFGL
      left: 0
      top: -4px
      @media (max-width: 1200px)
        top: 0
    &:hover
      color: #4473b9
      &:before
        border-width: 1px
        border-color: rgb(68, 115, 185)
        border-style: solid
        border-radius: 50%
        background-color: #4473b9
        color: #ffffff
        box-shadow: 0px 15px 30px 0px rgba(68, 115, 185, 0.25)
  .cont
    padding-top: 61px
    @media (max-width: 1200px)
      padding-top: 46px
      display: none
  .slider
    display: none
    @media (max-width: 1200px)
      padding-top: 46px
      display: block
      margin-left: 30px
      margin-right: 30px
      br
        display: none
    @media (max-width: 440px)
      margin-left: -30px
      margin-right: -30px
  .row
    margin-bottom: 53px
    @media (max-width: 1200px)
      margin-bottom: 0
    .col-sm-6:nth-last-child(1)
      .help-block__item
        text-align: right
        padding-left: 0
        padding-right: 80px
        &:before
          left: unset
          right: 0
        @media (max-width: 1200px)
          margin-left: 45px
          margin-right: 45px
  .cont
    .row:nth-child(1),
    .row:nth-last-child(1)
      .help-block__item
        margin-left: 65px
        margin-right: 65px
        @media (max-width: 1200px)
          margin-left: 45px
          margin-right: 45px        
    .row:nth-child(2),
    .row:nth-last-child(2)
      .help-block__item
        margin-left: 16px
        margin-right: 16px
        @media (max-width: 1200px)
          margin-left: 45px
          margin-right: 45px        
    .row:nth-child(3)
      .help-block__item
        margin-left: -10px
        margin-right: -10px
        @media (max-width: 1200px)
          margin-left: 45px
          margin-right: 45px        

.how-block
  background: #fcfcfc
  padding-top: 89px
  padding-bottom: 145px
  h2
    &:before
      content: ''
      display: block
      width: 41px
      height: 3px
      margin: 0 auto 20px
      background: #4473b9
    +FFGB
    color: #000000
    font-size: 40px
    line-height: 62px
    text-align: center
    margin: 0
    padding-bottom: 4px
    @media (max-width: 1200px)
      padding-bottom: 1px
      font-size: 30px
      &:before
        margin-bottom: 14px      
  &__desc
    +FFGB
    font-size: 15px
    text-align: center
    min-height: 145px
    @media (max-width: 1200px)
      max-width: 300px
      margin: 0 auto
      min-height: 95px
  &__item
    text-align: center
    .pic
      min-height: 159px
      @media (max-width: 1200px)
        text-align: center
        img
          margin-left: auto
          margin-right: auto
    .title
      font-size: 15px
      line-height: 20px
      min-height: 62px
      +FFGB
    .desc
      font-size: 14px
      line-height: 20px
      max-width: 320px
      margin: 0 auto
  @media (max-width: 1200px)
    padding-bottom: 80px
    .keysi__slider-icon
      padding-top: 62px
  @media (max-width: 440px)
    padding-bottom: 55px

.proek-idej.ocenka
  padding-top: 125px
  padding-bottom: 32px
  background: #FFFFFF
  @media (max-width: 1200px)
    padding-top: 56px
    padding-bottom: 0
    .proek-idej__col-l
      padding-bottom: 18px
    .proek-idej__col-r
      padding-top: 13px
      padding-bottom: 67px
  @media (max-width: 440px)
    padding-top: 83px
  &:before
    background-image: url("../images/ocenka-bg.jpg")
  .ocenkalist
    padding-top: 70px
    @media (max-width: 1200px)
      padding-top: 77px
    li
      list-style: none
      font-size: 16px
      line-height: 21px
      padding-left: 94px
      min-height: 114px
      padding-right: 80px
      @media (max-width: 1200px)
        padding-left: 90px
        padding-right: 40px
      @media (max-width: 440px)
        padding-right: 37px
      h3
        margin: 0
        +FFGB
        font-size: 16px
      &.ocenka1icon
        background: url(../images/ocenka-1-icon.png) no-repeat 0 0
        @media (max-width: 1200px)
          padding-bottom: 80px
        @media (max-width: 440px)
          padding-bottom: 36px
      &.ocenka2icon
        background: url(../images/ocenka-2-icon.png) no-repeat 0 0
  .form-idej
    padding-top: 71px
  .form-idej__personal
    padding-top: 16px
  .form-idej__row input[type=submit]
    background: #c43939
    color: #FFFFFF
  .title1.title3
    padding-top: 56px
    padding-bottom: 23px
    span
      color: #3665ab
    @media (max-width: 1200px)
      padding-left: 0
  .title1
    @media (max-width: 1200px)
      max-width: none
      font-size: 30px
      line-height: 40px
      padding-left: 55px
    @media (max-width: 440px)
      padding-left: 0

.proek-idej.ocenka2
  padding-bottom: 160px
  @media (max-width: 1200px)
    padding-top: 90px
    padding-bottom: 0
    .title1.title3
      font-size: 25px
      line-height: 35px
      padding-top: 95px
    .proek-idej__col-l
      min-height: 470px

.proek-idej.ocenkatwo
  padding-top: 120px
  padding-bottom: 78px
  background: #FFFFFF
  @media (max-width: 1200px)
    padding-top: 0
    padding-bottom: 0
    .proek-idej__col-l
      display: none
  &:before
    background-image: url("../images/ocenka-bg-2.jpg")
    left: unset
    right: 50%
  .proek-idej__col-r
    padding-left: 101px
    font-size: 15px
    line-height: 24px
    .title1
      +FFGB
      font-size: 40px
      line-height: 50px
      padding-bottom: 23px
      @media (max-width: 440px)
        & ~ div br
          display: none
    .desc
      margin-top: 17px
      border: #4473b9 solid 3px
      line-height: 24px
      color: #3665ab
      padding: 22px 30px
      +FFGB
    strong
      +FFGB
    .list
      margin-top: 47px
      line-height: 27px
      @media (max-width: 440px)
        margin-top: 37px
        p
          margin-bottom: 10px
    @media (max-width: 1200px)
      background: none
      max-width: 440px
      margin-left: auto
      margin-right: auto
      padding-left: 0
      padding-top: 90px
      padding-bottom: 0
      .title1
        font-size: 30px
        line-height: 40px
      .desc
        margin-top: 31px
        padding-bottom: 26px
        br
          display: none
      &:after
        content: ''
        display: block
        width: 100vw
        height: 439px
        position: relative
        left: 50%
        transform: translateX(-50%)
        margin-top: 52px
        background: url("../images/ocenka-bg-2.jpg") no-repeat center top
        background-size: cover
    @media (max-width: 440px)
      max-width: 320px
    @media (max-width: 440px)
      &:after
        height: 413px

.ourcomand.review
  background: #fcfcfc
  padding-top: 89px
  @media (max-width: 1200px)
    padding-top: 68px
  h2
    margin-bottom: 82px
    @media (max-width: 1200px)
      padding-bottom: 0
      margin-bottom: 33px
      font-size: 30px
      &:before
        margin-bottom: 0
  @media (max-width: 1200px)
    .ourcomand__slider
      margin-left: -15px
      margin-right: -15px
    .keysi__slider-icon
      padding-top: 35px
  .ourcomand__slider-foto
    border-radius: 0
    overflow: visible
    min-width: 150px
    padding-top: 13px
    @media (max-width: 1200px)
      display: block
      float: none
      width: auto
      height: auto
      text-align: center
      min-height: 283px
      img
        margin-left: auto
        margin-right: auto
  .ourcomand__slider-item
    padding-top: 53px
    @media (max-width: 1200px)
      width: auto
      height: auto
      padding-left: 33px
      padding-right: 33px
    .title
      margin-left: 190px
      padding-top: 0
      @media (max-width: 1200px)
        margin-left: 0
        font-size: 17px
        span
          display: block
          font-size: 14px
    .desc
      margin-left: 190px
      @media (max-width: 1200px)
        margin-left: 0

@media (max-width: 1200px)
  .form-idej
    max-width: 260px
    .form-idej__row
      .col-lg-6
        margin-bottom: 21px
  .form-idej__personal
    padding-top: 11px