strong
  +FFGB

.btn-blue
  background: #4473b9

.gal
  padding-left: 42px
  position: relative
  &:before
    position: absolute
    content: '\2713'
    display: block
    border-width: 1px
    border-color: #4473b9
    border-style: solid
    border-radius: 50%
    background-color: #4473b9
    box-shadow: 0px 15px 30px 0px rgba(68, 115, 185, 0.25)
    width: 25px
    height: 25px
    float: left
    text-align: center
    line-height: 25px
    color: #ffffff
    font-size: 12px
    margin-left: -1px
    margin-right: 17px
    left: 0
    top: 0

.tarif.site
  padding-bottom: 128px
  @media (max-width: 1190px)
    padding-bottom: 47px
    .keysi__slider-icon
      padding-top: 26px
  h2
    padding-bottom: 39px
    @media (max-width: 1190px)
      max-width: 250px
      margin: 0 auto
      line-height: 40px
      padding-bottom: 28px
      &:before
        margin-bottom: 36px
  .tarif__item
    padding: 26px 32px
    @media (max-width: 1190px)
      padding: 26px 76px
      letter-spacing: -0.4px
    .title
      text-align: center
      padding-bottom: 40px
    @media (max-width: 440px)
      padding: 26px 13px
  .radioblock
    position: relative
    input
      opacity: 0
      position: absolute
      left: 0
      right: 0
    label
      line-height: 27px
      display: block
      height: 27px
      padding-left: 40px
      font-size: 13px
      color: #c43939
      position: relative
      cursor: pointer
      margin: 0
    &:before
      content: ''
      display: block
      position: absolute
      left: 0
      top: 0
      width: 27px
      height: 27px
      border-width: 1px
      border-color: rgb(213, 226, 233)
      border-style: solid
      border-radius: 50%
      background-color: rgb(246, 246, 246)
    &:after
      content: ''
      display: block
      background-color: rgb(213, 226, 233)
      border-radius: 50%
      width: 15px
      height: 15px
      position: absolute
      left: 6px
      top: 6px
  .price-order
    text-align: center
    display: block
    padding-right: 0
    .price
      padding-left: 0
      @media (max-width: 1190px)
        span
          display: inline-block
          vertical-align: middle
    .order
      margin-left: auto
      margin-right: auto
      @media (max-width: 1190px)
        padding-top: 15px

.forma-sale.primer
  padding-top: 91px
  background-size: cover
  padding-bottom: 64px
  @media (max-width: 1190px)
    padding-bottom: 57px
  h2
    &:before
      content: ''
      display: block
      width: 41px
      height: 3px
      margin: 0 auto 20px
      background: #FFF
    +FFGB
    color: #FFF
    font-size: 40px
    line-height: 62px
    text-align: center
    margin: 0 0 10px
    @media (max-width: 1190px)
      margin: 0 auto 20px
      font-size: 30px
      line-height: 40px
      &:before
        margin-bottom: 30px
  .forma-sale__desc
    +FFGL
    font-size: 18px
    line-height: 30px
    padding-bottom: 26px
    @media (max-width: 1190px)
      padding-bottom: 7px
      max-width: 300px
      br
        display: none
  .forma-sale__bref
    text-align: center
    font-size: 14px
    color: #ffffff
    margin-top: 30px
    @media (max-width: 1190px)
      margin: 10px auto 30px
      max-width: 300px

.how-work.site
  padding-top: 91px
  background: #fcfcfc
  padding-bottom: 115px
  @media (max-width: 1190px)
    padding-top: 66px
    padding-bottom: 36px
    h2
      padding-bottom: 15px
  .justify-content-center
    .how-work__item
      margin: 0 23px
      @media (max-width: 1190px)
        margin: 0 0 25px
  .how-work__item
    border-radius: 7px
    background-color: rgb(255, 255, 255)
    box-shadow: 0px 25px 35px 0px rgba(123, 138, 143, 0.1)
    .pic1
      background: url(../images/work-site-1.png) no-repeat
    .pic2
      background: url(../images/work-site-2.png) no-repeat
    .pic3
      background: url(../images/work-site-3.png) no-repeat
    .pic4
      background: url(../images/work-site-4.png) no-repeat
    .pic5
      background: url(../images/work-site-5.png) no-repeat
    .text
      padding-bottom: 12px
    &:hover
      color: #FFF
      .pic1
        background: url(../images/work-site-1-hover.png) no-repeat
      .pic2
        background: url(../images/work-site-2-hover.png) no-repeat
      .pic3
        background: url(../images/work-site-3-hover.png) no-repeat
      .pic4
        background: url(../images/work-site-4-hover.png) no-repeat
      .pic5
        background: url(../images/work-site-5-hover.png) no-repeat
  .how-work__item:hover
    background-color: rgb(196, 57, 57)
    box-shadow: 0px 30px 40px 0px rgba(68, 115, 185, 0.2)

.hard-work
  padding-top: 106px
  padding-bottom: 64px
  @media (max-width: 1190px)
    padding-top: 50px
    .keysi__slider-icon
      padding-top: 47px
  h2
    &:before
      content: ''
      display: block
      width: 41px
      height: 3px
      margin: 0 auto 20px
      background: #4473b9
    +FFGB
    color: #000
    font-size: 40px
    line-height: 62px
    text-align: center
    margin: 0 0 5px
    @media (max-width: 1190px)
      font-size: 30px
      max-width: 300px
      margin: 0 auto 8px
      line-height: 40px
      &:before
        margin-bottom: 33px
  &__desc
    font-size: 15px
    line-height: 20px
    +FFGB
    text-align: center
    min-height: 81px
    @media (max-width: 1190px)
      min-height: 91px
  &__price
    +FFGB
    text-align: center
    font-size: 21px
    line-height: 20px
    color: #4473b9
    min-height: 70px
    @media (max-width: 1190px)
      min-height: 57px
  &__item
    .pic
      border-radius: 7px
      background-color: rgb(255, 255, 255)
      box-shadow: 0px 25px 35px 0px rgba(123, 138, 143, 0.1)
      margin-bottom: 18px
      img
        border-radius: 7px
        width: 100%
    .title
      font-size: 18px
      +FFGB
      line-height: 62px
      text-align: center
    .desc
      text-align: center
      font-size: 15px
      line-height: 20px
  .btn-row
    margin-top: 70px
    @media (max-width: 1190px)
      margin-top: 50px
    @media (max-width: 440px)
      text-align: center
  @media (max-width: 1190px)
    .js-hard-work
      position: relative
      width: 100vw
      margin: 0
      left: 50%
      transform: translateX(-50%)
      .col-lg-4
        width: 460px
      .hard-work__item
        width: 360px
        margin: 0 auto
    .text-lg-right
      margin-bottom: 10px
  @media (max-width: 440px)
    .js-hard-work
      width: auto
      left: unset
      transform: translateX(0)
      .col-lg-4
        width: auto
      .hard-work__item
        width: auto

.keisi.site
  background: #fcfcfc
  padding-top: 102px
  @media (max-width: 1190px)
    padding-top: 73px
    padding-bottom: 37px
  .keisi__desc
    margin-bottom: 88px
    @media (max-width: 1190px)
      margin-bottom: 38px
  .keisi__item_cont
    padding-top: 42px
  .keisi__item 
    h3
      margin-bottom: 8px
    .desc
      padding-top: 0
      padding-bottom: 0
    .gall
      padding-top: 17px
      padding-bottom: 20px
      @media (max-width: 1190px)
        overflow: hidden
        padding-top: 22px
        padding-left: 5px
      .gal
        +FFGB
        padding-left: 27px
        display: inline-block
        height: 25px
        line-height: 25px
        margin-right: 15px
        &:nth-last-child(1)
          margin-right: 0
        @media (max-width: 1190px)
          float: left
          width: 50%
          margin-right: 0
          padding-left: 35px
          height: 25px
          vertical-align: middle
          margin-bottom: 31px
          &:nth-last-child(2)
            line-height: 20px
          &:nth-last-child(1)
            width: 100%
            margin-bottom: 0
    .desc1
      padding-top: 11px
      font-size: 15px
      line-height: 22px
      max-width: 450px
      @media (max-width: 1190px)
        padding-top: 0
        padding-bottom: 12px
    .link
      margin-top: 2px
      a
        color: #4473b9
        text-decoration: none
        &:after
          content: '\2192'
          color: #000000
  .slick-dots
    margin-bottom: 45px
  @media (max-width: 1190px)
    .keisi__slider
      padding-bottom: 40px
    .keysi__slider-icon
      padding-top: 43px

.nadeg-partner.site
  background: none
  padding-bottom: 100px
  @media (max-width: 1190px)
    padding-top: 69px
    padding-bottom: 60px
    .keysi__slider-icon
      padding-top: 34px
  h2
    padding-bottom: 130px
    @media (max-width: 1190px)
      max-width: 300px
      position: relative
      left: unset
      margin: 0 auto
      transform: translateX(0)
      padding-bottom: 64px
      &:before
        margin-bottom: 33px
  .nadeg-partner__item 
    h3
      margin-bottom: 0
      padding-bottom: 26px
    .desc
      @media (max-width: 1190px)
        max-width: 300px
        margin: 0 auto
        font-size: 15px
        line-height: 21px
  .btn-block
    padding-top: 56px
    @media (max-width: 1190px)
      padding-top: 40px
      max-width: 310px
      margin: 0 auto
      br
        display: none
      .title3
        font-size: 15px
        margin-bottom: 36px
  .title3
    font-size: 18px
    color: #000000
    +FFGB
    span
      color: #4473b9

.ourcomand.site
  padding-top: 158px
  background: #fcfcfc
  @media (max-width: 1190px)
    padding-top: 43px

.specpredlog
  padding-top: 63px
  padding-bottom: 117px
  @media (max-width: 1190px)
    padding-top: 66px
    padding-bottom: 83px
  h2
    &:before
      content: ''
      display: block
      width: 41px
      height: 3px
      margin: 0 auto 20px
      background: #4473b9
    +FFGB
    color: #000
    font-size: 40px
    line-height: 62px
    text-align: center
    margin: 0 0 14px
    @media (max-width: 1190px)
      font-size: 30px
      line-height: 40px
      margin: 0 auto 27px
      max-width: 330px
      br
        display: none
      &:before
        margin-bottom: 31px
  &__desc
    font-size: 18px
    text-align: center
    line-height: 30px
    letter-spacing: 0.4px
    margin-bottom: 20px
    @media (max-width: 1190px)
      max-width: 300px
      margin: 0 auto 30px