body
  +FFGL

a
  color: #4473b9

.container
  margin-left: auto
  margin-right: auto
  @media (max-width: 800px)
    max-width: 440px
  @media (max-width: 440px)
    max-width: 320px

.home
  #content
    padding-top: 48px
    @media (max-width: 800px)
      padding-top: 33px
    @media (max-width: 440px)
      padding-top: 23px

.work_list
  padding-bottom: 79px
  @media (max-width: 800px)
    padding-bottom: 0
  @media (max-width: 440px)
    padding-bottom: 23px
  &__item
    height: 246px
    margin-bottom: 23px
    position: relative
    overflow: hidden
    border-radius: 6px
    margin-right: 20px
    @media (max-width: 800px)
      margin-right: 0
      height: 239px
    &:hover
      box-shadow: 0px 25px 35px 0px rgba(68, 115, 185, 0.25)
    a
      position: relative
      display: block
      height: 100%
      width: 100%
      img
        position: absolute
        left: 0
        right: 0
      &:after
        content: ''
        position: absolute
        left: 0
        right: 0
        bottom: 0
        top: 0
        width: 100%
        height: 100%
        opacity: 0.7
        background-color: rgb(0, 0, 0)
      &:hover:after
        background-color: #4473b9
        opacity: 0.9
    &--title
      position: absolute
      left: 48px
      top: 44px
      +FFGB
      font-size: 18px
      color: #ffffff
      line-height: 18px
      @media (max-width: 800px)
        top: 87px
        left: 0
        right: 0
        width: 100%
        text-align: center
    &--price
      position: absolute
      right: 35px
      bottom: 35px
      +FFGB
      font-size: 12px
      line-height: 30px
      height: 30px
      color: #ffffff
      vertical-align: middle
      span
        font-size: 30px
        display: inline-block
        padding-left: 5px
        padding-right: 5px
      @media (max-width: 800px)
        left: 0
        right: 0
        text-align: center
        width: 100%
        bottom: 85px
    &.item1
      max-width: 573px
      width: 573px
    &.item2
      max-width: 277px
      width: 277px
      .work_list__item--title
        left: 39px
        @media (max-width: 800px)
          left: 0
      @media (max-width: 800px)
        width: 100%
        max-width: none
    &.item3
      max-width: 277px
      width: 277px
      margin-right: 0
      .work_list__item--title
        left: 34px
        @media (max-width: 800px)
          left: 0
      @media (max-width: 800px)
        width: 100%
        max-width: none
    &.item4
      max-width: 277px
      width: 277px
      height: 255px
      .work_list__item--title
        left: 36px
        top: 45px
        @media (max-width: 800px)
          left: 0
          top: 87px
      @media (max-width: 800px)
        width: 100%
        max-width: none
    &.item5
      max-width: 573px
      width: 573px
      height: 534px
      .work_list__item--title
        left: 47px
        top: 45px
        line-height: 24px
        @media (max-width: 800px)
          left: 0
          top: 87px        
      @media (max-width: 800px)
        width: 100%
        height: 255px
        max-width: none
    &.item6
      max-width: 277px
      width: 277px
      height: 534px
      margin-right: 0
      a:after
        content: ''
        position: absolute
        left: 0
        right: 0
        bottom: 0
        top: 0
        width: 100%
        height: 100%
        background-color: #4473b9
        opacity: 0.9
      @media (max-width: 800px)
        width: 100%
        max-width: none
    &.item7
      max-width: 277px
      width: 277px
      height: 255px
      margin-top: -278px
      .work_list__item--title
        left: 38px
        top: 43px
        line-height: 24px
        @media (max-width: 800px)
          left: 0
          top: 87px        
      @media (max-width: 800px)
        width: 100%
        max-width: none
        margin-top: 0

.form-work
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 100%
  height: 100%
  padding: 35px 28px 0
  @media (max-width: 800px)
    max-width: 280px  
    left: 50%
    margin-left: -140px
  &__title
    text-align: center
    font-size: 18px
    +FFGB
    line-height: 23px
    color: #ffffff
    padding-bottom: 7px
  &__desc
    text-align: center
    font-size: 14px
    line-height: 20px
    color: #ffffff
    padding-bottom: 22px
  &__row
    padding-bottom: 10px
    input, select
      height: 60px
      padding-left: 24px
      padding-right: 24px
      border: none
      border-radius: 30px
      width: 100%
    input[type=submit]
      height: 60px
      padding-left: 24px
      padding-right: 24px
      border: none
      border-radius: 30px
      width: 100%
      font-size: 14px
      color: #ffffff
      +FFGB
      background-color: #c43939
    textarea
      height: 115px
      padding: 20px 24px
      width: 100%
      border: none
      border-radius: 30px
  &__link
    background: none
    text-align: center
    a
      opacity: 1
      background: none
      font-size: 12px
      line-height: 18px
      color: #ffffff
      &:after
        display: none

.ourclient
  background: url(../images/team1-2.jpg) no-repeat center bottom #fcfcfc
  padding-top: 75px
  @media (max-width: 800px)
    padding-top: 42px
    background:  #fcfcfc
  @media (max-width: 440px)
    padding-top: 53px
  h2
    text-align: center
    +FFGB
    font-size: 40px
    line-height: 50px
    padding-bottom: 39px
    &:before
      content: ''
      display: block
      margin: 0 auto
      width: 41px
      height: 3px
      background: #4473b9
      margin-bottom: 25px
      @media (max-width: 440px)
        margin-bottom: 31px
    @media (max-width: 800px)
      font-size: 30px
      line-height: 40px
      margin: 0 
      padding-bottom: 29px
    @media (max-width: 440px)
      padding-bottom: 22px

.client-canal
  padding-bottom: 120px
  margin-left: -13px
  margin-right: -13px
  @media (max-width: 800px)
    max-width: 256px
    margin-left: auto
    margin-right: auto
    padding-bottom: 35px
  &:after
    content: ''
    display: table
    clear: both
  &__item
    display: block
    width: 116px
    height: 53px
    margin-bottom: 17px
    img
      width: 116px
      height: 53px
      border: #e4e4e4 solid 1px
      border-radius: 5px
  &__col-l
    float: left
  &__col-r
    float: right
  &__col-l-2
    margin-left: 72px
    margin-top: 70px
    float: left
    @media (max-width: 800px)
      margin-left: 0
      margin-top: 0
  &__col-r-2
    margin-top: 70px
    margin-right: 72px
    float: right
    @media (max-width: 800px)
      margin-top: 0
      margin-right: 0

.keysi
  padding-top: 79px
  padding-bottom: 32px
  @media (max-width: 800px)
    padding-top: 60px
  h2
    text-align: center
    +FFGB
    font-size: 40px
    line-height: 50px
    padding-bottom: 14px
    &:before
      content: ''
      display: block
      margin: 0 auto
      width: 41px
      height: 3px
      background: #4473b9
      margin-bottom: 25px
    @media (max-width: 800px)
      font-size: 40px
      line-height: 48px
      margin: 0 
      padding-bottom: 23px
  &__sel-nav
    display: none
    @media (max-width: 800px)
      display: block
      width: 216px
      margin-left: auto
      margin-right: auto
      padding-bottom: 39px
      select 
        height: 60px
        width: 100%
        outline: none
        border: none
        background: #f6f6f6
        border-radius: 30px
        padding-left: 24px
        font-size: 15px
        color: #181818
  &__slider-icon
    text-align: center
    display: none
    @media (max-width: 800px)
      display: block
      padding-top: 20px
    @media (max-width: 440px)
      padding-top: 40px
  &__tabs-nav
    display: block
    text-align: center
    margin-bottom: 58px
    @media (max-width: 800px)
      display: none
    li
      list-style: none
      display: inline-block
      padding-left: 12px
      padding-right: 12px
      a
        font-size: 15px
        color: #4473b9
        +FFGB
        text-decoration: none
        &:hover
          color: #c43939
      &.active
        a
          color: #c43939
  &__list
    display: flex
    @media (max-width: 800px)
      width: 768px
      transform: translateX(-164px)
    @media (max-width: 440px)
      width: 320px
      margin-left: -15px
      margin-right: -15px
      transform: translateX(0)
  &__item
    cursor: pointer
    width: 277px
    height: 446px
    display: inline-block
    margin-right: 20px
    border-radius: 6px
    margin-bottom: 20px
    position: relative
    overflow: hidden
    @media (max-width: 800px)
      margin-right: 10px
      margin-left: 10px
    @media (max-width: 440px)
      margin: 0
      width: 320px
      img
        width: 100%
    &:nth-child(4n)
      margin-right: 0
      @media (max-width: 800px)
        margin-right: 10px
        margin-left: 10px
    &-content
      opacity: 0
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: rgba(68, 115, 185, 0.9)
      text-align: center
      color: #ffffff
      padding-top: 98px
      +FFGL
      font-size: 15px
      line-height: 25px
      &:hover
        opacity: 1
      p
        margin: 0
        padding: 0
    strong  
      +FFGB
    &-title
      +FFGB
      font-size: 18px
      padding-bottom: 34px
    &-desc
      padding-bottom: 30px
    &-categ
      font-size: 14px
      padding-bottom: 34px
      a
        +FFGL
        color: #ffffff
        text-decoration: none
        border-bottom:  #fff dashed 1px
    &-btn
      a
        display: block
        line-height: 60px
        max-width: 177px
        +FFGB
        border-radius: 26px
        background: #c43939
        color: #ffffff
        font-size: 14px
        text-decoration: none
        text-align: center
        margin: 0 auto

.proek-idej
  position: relative
  background: #fcfcfc
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 0
    bottom: 0
    display: block
    width: 50%
    background: url(../images/proek-bg.jpg) no-repeat center
    z-index: 10
    background-size: cover
    @media (max-width: 800px)
      display: none
  padding-top: 155px
  padding-bottom: 85px
  @media (max-width: 800px)
    padding-top: 63px
    padding-bottom: 0
    .container
      width: 100%
      max-width: unset
      padding-left: 0
      padding-right: 0
      .row  
        display: block
        flex-wrap: unset
        margin-left: 0
        margin-right: 0  
  &__col-l
    width: 50%
    font-size: 18px
    color: #070707
    padding-right: 15px
    a
      text-decoration: none
    +FFGL
    .title1
      font-size: 40px
      line-height: 50px
      color: #070707
      +FFGB
      @media (max-width: 800px)
        font-size: 25px
        line-height: 33px
        max-width: 210px
    .title2
      color: #4473b9
      font-size: 34px
      line-height: 40px
      padding-top: 15px
      +FFGB
      padding-bottom: 24px
      a
        text-decoration: none
        color: #4473b9
      @media (max-width: 800px)
        font-size: 25px
        line-height: 33px
        max-width: 290px
        padding-top: 0        
    .call
      font-size: 24px
      padding-top: 5px
      padding-bottom: 5px
      +FFGB
      a
        color: #4473b9
        text-decoration: none
    @media (max-width: 800px)
      width: 100% 
      max-width: 440px
      padding-right: 
      margin: 0 auto
      padding-bottom: 52px
      padding-right: 0
    @media (max-width: 440px)
      width: 320px
  &__col-r
    width: 50%
    position: relative
    z-index: 20
    @media (max-width: 800px)
      width: 100% 
      padding-top: 63px
      padding-bottom: 54px
      background: url(../images/proek-bg.jpg) no-repeat center

.form-idej
  max-width: 470px
  margin-left: 70px
  padding-top: 10px
  @media (max-width: 800px)
    max-width: 320px
    margin: 0 auto
  &__row
    margin-bottom: 20px
    input 
      width: 100%
      height: 60px
      background: #f6f6f6
      border-radius: 30px
      display: block
      border: none
      outline: none
      padding: 0 20px
      font-size: 15px
      color: #181818
    textarea
      width: 100%
      height: 98px
      background: #ffffff
      border: none
      outline: none
      border-radius: 50px 
      padding: 25px
    &-submit
      display: flex
      input[type=submit]
        margin-left: auto
        display: block
        width: 230px
        height: 60px
        border-radius: 30px
        background: #c43939
        color: #fff
        border: none
        +FFGB
        @media (max-width: 800px)
          margin: 0 auto
      @media (max-width: 800px)
        display: block
  &__file
    position: relative
    @media (max-width: 800px)
      max-width: 149px
      margin: 0 auto
    input[type=file]
      opacity: 0
      position: absolute
      left: 0
      right: 0
    label
      display: inline-block
      position: relative
      margin-top: 22px
      margin-left: 35px
      height: 22px
      font-size: 12px
      line-height: 20px
      color: #ffffff
      cursor: pointer
      border-bottom: #fff dashed 1px
      &:before
        content: ''
        position: absolute
        left: -35px
        top: 50%
        margin-top: -11px
        height: 22px
        width: 22px
        background: url(../images/files-icon.png) no-repeat left center
  &__personal
    color: #ffffff
    font-size: 12px
    padding-top: 24px
    letter-spacing: 0.4px
    a
      color: #ffffff  
    @media (max-width: 800px)
      text-align: center
      max-width: 220px
      margin: 0 auto

.map-client
  padding-top: 125px
  padding-bottom: 153px
  @media (max-width: 800px)
    padding-top: 52px
    padding-bottom: 213px
    .container
      max-width: none
      width: 100%
  @media (max-width: 440px)      
    padding-bottom: 415px
  h2
    +FFGB
    max-width: 650px
    margin: 0 auto 77px
    font-size: 40px
    line-height: 50px
    color: #000000
    text-align: center
    &:before
      content: ''
      width: 41px
      height: 3px
      background: #4473b9
      display: block
      margin: 0 auto 25px
      @media (max-width: 800px)
        margin-bottom: 33px
    @media (max-width: 800px)
      font-size: 30px
      line-height: 40px
      max-width: 280px
      margin-bottom: 60px

.clients
  background: #f5f5f5
  padding-top: 90px
  position: relative
  padding-bottom: 80px
  @media (max-width: 800px)
    padding-top: 70px
    padding-bottom: 52px
    .keysi__slider-icon
      padding-top: 48px
  h2
    +FFGB
    max-width: 650px
    margin: 0 auto 89px
    font-size: 40px
    line-height: 50px
    color: #000000
    text-align: center
    &:before
      content: ''
      width: 41px
      height: 3px
      background: #4473b9
      display: block
      margin: 0 auto 25px  
    @media (max-width: 800px)
      font-size: 30px
      margin-bottom: 27px
  .container
    max-width: 1050px
  .slick-slide
    padding-left: 2px
    padding-right: 2px

.slick-arrow
  position: absolute
  top: 20px
  display: block
  width: 60px
  height: 60px
  border: #4473b9 solid 1px
  color: #4473b9
  border-radius: 50%
  background: none
  outline: none
  &.slick-prev
    left: -183px
  &.slick-next
    right: -177px
  &:hover
    background: #4473b9
    color: #ffffff
    box-shadow: 0px 25px 35px 0px rgba(68, 115, 185, 0.25)
.slick-dots
  padding-top: 67px
  display: block
  text-align: center
  li
    list-style: none
    display: inline-block
    margin-left: 5px
    margin-right: 5px
    width: 10px
    height: 10px
    overflow: hidden
    button
      display: block
      text-indent: -9999px
      width: 10px
      height: 10px
      border: #4473b9 solid 1px
      border-radius: 50%
      background: none
      cursor: pointer
      outline: none
      &:hover
        background: #4473b9
    &.slick-active
      button
        background: #4473b9