.top_block_page
  position: relative
  @media (max-width: 1440px)
    overflow: hidden
    img
      max-width: none
      position: relative
      left: 50%
      transform: translateX(-50%)
  @media (max-width: 1190px)
    overflow: hidden
    .hidden-md
      display: none
    .visible-md
      display: block
    img
      height: 627px
      width: auto
      position: relative
      left: 50%
      transform: translateX(-50%)
      max-width: none
  img
    margin-left: auto
    margin-right: auto
  .container
    width: 100vw
    padding-right: 0
    padding-left: 0
  &__text_block
    position: absolute
    top: 186px
    left: 50%
    transform: translateX(-50%)
    .title
      color: #4473b9
      font-size: 48px
      line-height: 54px
      +FFGB
      padding-bottom: 27px
    .title2
      color: #000
      font-size: 18px
      line-height: 62px
      +FFGB
      &:before
        content: ''
        display: inline-block
        width: 3px
        height: 18px
        background: #4473b9
        margin-right: 15px
    .desc
      font-size: 16px
      line-height: 25px
      letter-spacing: 0.4px
    .btn
      padding-top: 20px


.btn-red, a.btn-red
  display: inline-block
  width: 254px
  line-height: 60px
  color: #ffffff
  font-size: 14px
  +FFGB
  border-radius: 30px
  background: #c43939
  text-align: center
  text-decoration: none
  &:hover
    text-decoration: none
    color: #fff !important
    background: #4473b9 !important

.tarif
  background: #fcfcfc
  padding-top: 90px
  padding-bottom: 94px
  @media (max-width: 1190px)
    padding-top: 59px
    padding-bottom: 44px
    .keysi__slider-icon
      padding-top: 11px
  h2
    &:before
      content: ''
      display: block
      width: 41px
      height: 3px
      margin: 0 auto 20px
      background: #4473b9
    +FFGB
    color: #000000
    font-size: 40px
    line-height: 62px
    text-align: center
    margin: 0
    padding-bottom: 52px
    @media (max-width: 1190px)
      padding-bottom: 26px
      font-size: 30px
      &:before
        margin-bottom: 22px
  &__item
    background: #fff
    border-radius: 7px
    box-shadow: 0px 25px 35px 0px rgba(123, 138, 143, 0.1)
    max-width: 552px
    padding: 40px
    margin-left: -15px
    @media (max-width: 1190px)
      margin: 0 -15px
      padding: 50px 48px
      box-shadow: none
    @media (max-width: 440px)
      padding: 58px 20px
    &.right
      margin-left: auto
      margin-right: -15px
      @media (max-width: 1190px)
        margin: 0 -15px
    .title
      +FFGB
      font-size: 18px
      line-height: 23px
      padding-bottom: 46px
    .listwork
      min-height: 385px
      li
        list-style: none
        line-height: 25px
        font-size: 14px
        color: #000000
        display: block
        margin-bottom: 15px
        &.plus:before
          content: '+'
          display: block
          border-width: 1px
          border-color: rgb(68, 115, 185)
          border-style: solid
          border-radius: 50%
          background-color: rgb(68, 115, 185)
          box-shadow: 0px 15px 30px 0px rgba(68, 115, 185, 0.25)
          width: 25px
          height: 25px
          float: left
          text-align: center
          line-height: 25px
          color: #ffffff
          font-size: 24px
          margin-left: -1px
          margin-right: 17px
        &.minus:before
          content: '-'
          display: block
          border-width: 1px
          border-color: #c43939
          border-style: solid
          border-radius: 50%
          background-color: #c43939
          box-shadow: 0px 15px 30px 0px rgba(68, 115, 185, 0.25)
          width: 25px
          height: 25px
          float: left
          text-align: center
          line-height: 25px
          color: #ffffff
          font-size: 24px
          margin-left: -1px
          margin-right: 17px
        @media (max-width: 440px)
          letter-spacing: -0.4px
    .price-order
      padding-top: 10px
      padding-right: 20px
      @media (max-width: 1190px)
        padding-right: 0
      .order
        max-width: 177px
        .btn-red
          max-width: 100%
          background: #c43939
        @media (max-width: 1190px)
          max-width: none
          padding-top: 30px
          text-align: center
          width: 100%
          .btn-red
            display: block
            margin-left: auto
            margin-right: auto
            max-width: 180px
      .price
        font-size: 30px
        padding-left: 13px
        +FFGB
        line-height: 58px
        letter-spacing: 1px
        span
          font-size: 12px
          vertical-align: top
        @media (max-width: 1190px)
          padding-left: 0
          padding-top: 10px
          width: 100%
          text-align: center
          line-height: normal
          span
            display: block
.how-work
  padding-top: 78px
  padding-bottom: 96px
  @media (max-width: 1190px)
    padding-top: 66px
    padding-bottom: 64px
    .btn-block
      margin-top: 20px
      text-align: center
  h2
    &:before
      content: ''
      display: block
      width: 41px
      height: 3px
      margin: 0 auto 20px
      background: #4473b9
    +FFGB
    color: #000000
    font-size: 40px
    line-height: 62px
    text-align: center
    margin: 0
    padding-bottom: 48px
    @media (max-width: 1190px)
      padding-bottom: 26px
      font-size: 30px
      &:before
        margin-bottom: 22px
  &__item
    display: block
    width: 360px
    height: 195px
    overflow: hidden
    margin-bottom: 60px
    border-radius: 7px
    box-shadow: 0px 30px 40px 0px rgba(68, 115, 185, 0.2)
    position: relative
    padding: 42px 20px 40px 125px
    transition: background-color 0.5s
    @media (max-width: 1190px)
      width: 100%
      padding-left: 130px
      margin-bottom: 20px
    @media (max-width: 440px)
      padding-left: 115px !important
      padding-top: 32px
      br
        display: none
    .nomer
      +FFGB
      font-size: 160px
      color: rgba(68, 115, 185, 0.141)
      line-height: 0.125
      position: absolute
      right: 09px
      bottom: 27px    
    &.it1
      padding-left: 115px
      @media (max-width: 1190px)
        padding-left: 130px
    &.it2
      padding-left: 128px
      @media (max-width: 1190px)
        padding-left: 130px
      .nomer
        right: -26px
    &.it3
      padding-left: 145px
      padding-right: 0
      @media (max-width: 1190px)
        padding-left: 130px
      .nomer
        right: -41px
    &.it4
      padding-left: 143px
      @media (max-width: 1190px)
        padding-left: 130px
      .nomer
        right: -49px
    &.it5
      padding-left: 127px
      @media (max-width: 1190px)
        padding-left: 130px
      .nomer
        right: -26px
    &.it6
      padding-left: 115px
      @media (max-width: 1190px)
        padding-left: 130px
      .nomer
        right: -26px
    .text
      color: #000000
      font-size: 16px
      line-height: 20px
      +FFGB
    .pic
      width: 64px
      height: 64px
      display: inline-block
      left: 25px
      top: 40px
      position: absolute
    .pic1
      background: url(../images/icon-seo-1.png) no-repeat
      @media (max-width: 1190px)
        left: 39px
    .pic2
      left: 35px
      top: 38px
      background: url(../images/icon-seo-2.png) no-repeat
    .pic3
      left: 57px
      top: 47px
      background: url(../images/icon-seo-3.png) no-repeat
      @media (max-width: 1190px)
        left: 44px
    .pic4
      left: 59px
      top: 45px
      background: url(../images/icon-seo-6.png) no-repeat
      @media (max-width: 1190px)
        left: 45px
    .pic5
      left: 38px
      top: 45px
      background: url(../images/icon-seo-5.png) no-repeat
      @media (max-width: 1190px)
        left: 42px
    .pic6
      left: 23px
      top: 39px
      background: url(../images/icon-seo-4.png) no-repeat
      @media (max-width: 1190px)
        left: 37px
    &:hover
      background-color: rgb(196, 57, 57)
      .pic1
        background: url(../images/icon-seo-1-h.png) no-repeat
      .pic2
        background: url(../images/icon-seo-2-h.png) no-repeat
      .pic3
        background: url(../images/icon-seo-3-h.png) no-repeat
      .pic4
        background: url(../images/icon-seo-6-h.png) no-repeat      
      .pic5
        background: url(../images/icon-seo-5-h.png) no-repeat      
      .pic6
        background: url(../images/icon-seo-4-h.png) no-repeat      
      .text
        color: #ffffff
      .nomer
        color: rgba(255, 255, 255, 0.141)

.nadeg-partner
  padding-top: 87px
  padding-bottom: 39px
  background: #fcfcfc
  @media (max-width: 1190px)
    padding-bottom: 60px
  h2
    &:before
      content: ''
      display: block
      width: 41px
      height: 3px
      margin: 0 auto 20px
      background: #4473b9
    +FFGB
    color: #000000
    font-size: 40px
    line-height: 62px
    text-align: center
    margin: 0
    padding-bottom: 69px
    @media (max-width: 1190px)
      padding-bottom: 0
      font-size: 30px
      line-height: 41px
      max-width: 330px
      margin: 0 auto 82px
      br
        display: none
      &:before
        margin-bottom: 25px
    @media (max-width: 1190px)
      width: 100vw
      max-width: 500px
      position: relative
      left: 50%
      transform: translateX(-50%)
  &__item
    text-align: center
    min-height: 252px
    .pic
      min-height: 88px
      @media (max-width: 1190px)
        img
          display: block
          margin: 0 auto
    h3
      font-size: 18px
      color: #000000
      line-height: 20px
      padding-bottom: 5px
  @media (max-width: 1190px)
    .keysi__slider-icon
      padding-top: 24px

.rewievs_about
  padding-top: 78px
  padding-bottom: 78px
  @media (max-width: 1190px)
    padding-top: 61px
    padding-bottom: 59px
    .btn-block
      margin-top: 48px
      text-align: center
  h2
    &:before
      content: ''
      display: block
      width: 41px
      height: 3px
      margin: 0 auto 20px
      background: #4473b9
    +FFGB
    color: #000000
    font-size: 40px
    line-height: 62px
    text-align: center
    margin: 0
    padding-bottom: 65px
    @media (max-width: 1190px)
      padding-bottom: 20px
      font-size: 30px
      line-height: 41px
      &:before
        margin-bottom: 30px
  &__slider
    margin-bottom: 40px
    margin-left: -15px
    margin-right: -15px
    @media (max-width: 1190px)
      margin-bottom: 5px
  &__item
    padding-left: 15px
    padding-right: 15px
    display: flex !important
    &.slick-active
      .video
        max-width: 560px
        border-radius: 7px
        box-shadow: 0px 25px 35px 0px rgba(123, 138, 143, 0.1)
        overflow: hidden
    .desc
      max-width: 560px
      padding-left: 73px
      font-size: 14px
      color: #000000
      +FFGB
      @media (max-width: 1190px)
        padding-left: 59px
        padding-top: 28px
        padding-right: 100px
      @media (max-width: 440px)
        padding-left: 0
        padding-right: 0
      p
        margin-bottom: 15px
        @media (max-width: 1190px)
          margin-bottom: 12px
      .proc
        color: #4473b9
        &:after
          content: '\2191'
          +FFGL
          padding-left: 10px
          font-size: 14px
      .grey
        color: #a8a8a8
  .slick-dots
    padding-top: 51px
  .slick-arrow
    &.slick-prev
      left: -109px
      top: 152px
    &.slick-next
      right: -109px
      top: 152px

.forma-sale
  background: url(../images/forma-sale.jpg) no-repeat center
  padding-top: 150px
  padding-bottom: 147px
  background-size: cover
  @media (max-width: 1190px)
    padding-top: 75px
    padding-bottom: 37px
  h2
    color: #ffffff
    font-size: 40px
    line-height: 40px
    text-align: center
    +FFGB
    margin-bottom: 20px
    @media (max-width: 1190px)
      margin: 0 auto 34px
      font-size: 30px
      max-width: 260px
      &:before
        margin-bottom: 0
  &__desc
    font-size: 18px
    +FFGB
    color: #ffffff
    text-align: center
    padding-bottom: 50px
    @media (max-width: 1190px)
      max-width: 270px
      margin: 0 auto
      padding-bottom: 44px

.form-block
  max-width: 735px
  margin-left: auto
  margin-right: auto
  @media (max-width: 1190px)
    max-width: 255px
  .row
    margin-left: -7.5px
    margin-right: -7.5px
    @media (max-width: 1190px)
      margin-right: 0
      .col-lg-4
        margin-bottom: 17px
  .frow
    padding-bottom: 17px
  input[type=text],
  input[type=tel],
  input[type=email],
  textarea
    border-width: 1px
    border-color: rgb(213, 226, 233)
    border-style: solid
    background-color: rgb(246, 246, 246)
    height: 60px
    width: 100%
    border-radius: 30px
    outline: none
    padding-left: 24px
    padding-right: 24px
    +FFGL
    font-size: 15px
    color: #181818
  textarea
    padding: 20px 24px
    border: none
    outline: none
  input[type=submit]
    height: 60px
    background: #c43939
    border-radius: 30px
    text-align: center
    font-size: 14px
    color: #ffffff
    width: 100%
    border: none
    &:hover
      text-decoration: none
      color: #ffff
      background: #4473b9
  &__person
    padding-top: 27px
    letter-spacing: 0.4px
    text-align: center
    +FFGL
    font-size: 12px
    color: #ffffff
    a
      color: #ffffff
    @media (max-width: 1190px)
      padding-top: 9px

.prodvigsite
  padding-top: 104px
  background: #fcfcfc
  padding-bottom: 69px
  @media (max-width: 1190px)
    padding-top: 50px
    .keysi__slider-icon
      padding-top: 30px
  h2
    &:before
      content: ''
      display: block
      width: 41px
      height: 3px
      margin: 0 auto 20px
      background: #4473b9
    +FFGB
    color: #000000
    font-size: 40px
    line-height: 62px
    text-align: center
    margin: 0
    padding-bottom: 10px
    @media (max-width: 1190px)
      margin: 0 auto 10px
      font-size: 30px
      line-height: normal
      max-width: 270px
      &:before
        margin-bottom: 37px
  &__desc
    text-align: center
    font-size: 15px
    line-height: 20px
    color: #000000
    +FFGB
    padding-bottom: 31px
    @media (max-width: 1190px)
      padding-bottom: 43px
  .img-pic
    border-radius: 3px
    background-color: rgb(255, 255, 255)
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.1)
    max-width: 425px
    margin-left: auto 
    margin-right: auto
    display: block
  &__item
    position: relative
    padding-left: 7px
    min-height: 133px
    @media (max-width: 1190px)
      max-width: 320px
      margin: 0 auto 10px
    h4
      +FFGB
      color: #000000
      font-size: 15px
      line-height: 20px
      margin: 11px 0 12px
    .nomer
      border-width: 1px
      border-color: rgb(68, 115, 185)
      border-style: solid
      border-radius: 50%
      background-color: rgb(68, 115, 185)
      box-shadow: 0px 15px 30px 0px rgba(68, 115, 185, 0.25)
      position: absolute
      width: 48px
      height: 48px
      line-height: 48px
      font-size: 18px
      color: #ffffff
      +FFGB
      text-align: center
      left: -59px
      top: 4px
    &.tright
      text-align: right
      padding-left: 0
      padding-right: 10px
      .nomer
        left: unset
        right: -63px
    @media (max-width: 1190px)
      text-align: center
      padding-left: 0
      .nomer
        left: unset
        top: unset
        position: relative
        margin: 0 auto
        display: block
  .pics
    @media (max-width: 1190px)
      max-width: 320px
      margin: 0 auto 50px
      img
        max-width: 100%

.nadeg-partner.work
  padding-top: 124px
  @media (max-width: 1190px)
    padding-top: 67px
    .keysi__slider-icon
      padding-top: 30px
  h2
    &:before
      @media (max-width: 1190px)
        margin-bottom: 28px
  .nadeg-partner__item
    min-height: 220px
    @media (max-width: 1190px)
      min-height: 137px
    .pic
      line-height: 88px
  .js-nadeg-partner-work
    @media (max-width: 1190px)
      width: 100vw
      position: relative
      left: 50%
      transform: translateX(-50%)
      @media (max-width: 440px)
        left: unset
        transform: translateX(0)
        width: auto

.ourclient.seo
  background: #fff
  @media (max-width: 1190px)
    padding-bottom: 15px
    h2
      padding-bottom: 26px
      &:before
        margin-bottom: 28px

.keisi
  padding-top: 89px
  padding-bottom: 78px
  @media (max-width: 1190px)
    padding-top: 50px
    padding-bottom: 28px
    .container
      max-width: 355px
  h2
    &:before
      content: ''
      display: block
      width: 41px
      height: 3px
      margin: 0 auto 20px
      background: #4473b9
    +FFGB
    color: #000000
    font-size: 40px
    line-height: 62px
    text-align: center
    margin: 0
    padding-bottom: 7px
    @media (max-width: 1190px)
      font-size: 30px
  &__desc
    font-size: 15px
    color: #000000
    +FFGB
    text-align: center
    margin-bottom: 75px
    @media (max-width: 1190px)
      margin-bottom: 30px
  &__item
    // margin-left: -15px
    // margin-right: -15px
    &_cont
      transform: translateX(-23px)
      @media (max-width: 1190px)
        transform: translateX(0)
        padding-top: 45px
    h3
      font-size: 18px
      color: #000000
      +FFGB
      margin-bottom: 18px
  .info
    border: none
    width: auto
    +FFGB
    td
      border: none
      font-size: 12px
      line-height: 13px
      vertical-align: middle
      padding-right: 30px
      @media (max-width: 1190px)
        padding-right: 10px
        padding-bottom: 20px
        display: block
        float: left
    th
      border: none
      color: #c43939
      font-size: 30px
      line-height: 22px
      vertical-align: middle
      padding-right: 10px
      @media (max-width: 1190px)
        padding-right: 10px
        padding-bottom: 20px
        display: block
        float: left
  .desc
    font-size: 14px
    padding-top: 18px
    line-height: 28px
    padding-bottom: 31px
    @media (max-width: 1190px)
      padding-top: 0
  .title
    padding-bottom: 13px
  ul
    letter-spacing: 1px
    list-style: none
  .result
    padding-top: 15px
    letter-spacing: 0.6px
  .slick-dots
    padding-top: 35px
  .slick-arrow
    &.slick-prev
      left: -123px
      top: 135px
    &.slick-next
      right: -119px
      top: 135px
  .check
    font-size: 18px
    +FFGB
    text-align: center
    padding-top: 21px
    padding-bottom: 25px
    @media (max-width: 1190px)
      padding-top: 37px

.ourcomand
  padding-top: 75px
  padding-bottom: 49px
  @media (max-width: 1190px)
    padding-bottom: 40px
    .keysi__slider-icon
      padding-top: 47px
  h2
    &:before
      content: ''
      display: block
      width: 41px
      height: 3px
      margin: 0 auto 20px
      background: #4473b9
    +FFGB
    color: #000000
    font-size: 40px
    line-height: 62px
    text-align: center
    margin: 0 0 20px
    @media (max-width: 1190px)
      font-size: 30px
  .slick-list
    box-shadow: 0px 25px 35px 0px rgba(123, 138, 143, 0.1)
    background-color: rgba(123, 138, 143, 0.1)
  &__slider
    &-item
      margin-left: auto
      margin-right: auto
      border-radius: 7px
      background-color: rgb(255, 255, 255)
      width: 559px
      height: 346px
      padding: 41px 43px
      @media (max-width: 1190px)
        width: auto
        height: auto
        padding: 18px 93px
        text-align: center
        min-height: 540px
      @media (max-width: 1190px)
        padding-left: 20px
        padding-right: 20px
      .title
        padding-top: 18px
        margin-left: 145px
        +FFGB
        font-size: 14px
        line-height: 25px
        span
          +FFGL
        @media (max-width: 1190px)
          margin-left: 0
      .opit
        margin-left: 145px
        @media (max-width: 1190px)
          margin-left: 0
      .desc
        margin-left: 145px
        font-size: 13px
        padding-top: 18px
        min-height: 135px
        @media (max-width: 1190px)
          margin-left: 0
          min-height: 0
    &-foto
      float: left
      border-radius: 50%
      width: 107px
      height: 107px
      overflow: hidden
      @media (max-width: 1190px)
        float: none
        width: auto
        border-radius: 0
        height: auto
        img
          border-radius: 50%
          margin: 0 auto
  .slick-dots
    padding-top: 98px
  .slick-arrow
    &.slick-prev
      left: -121px
      top: 159px
    &.slick-next
      right: -121px
      top: 159px

.forma-sale.ask
  padding-top: 97px
  background-size: cover
  padding-bottom: 67px
  @media (max-width: 1190px)
    padding-top: 50px
    padding-bottom: 27px
    .form-block
      max-width: 340px
      textarea
        height: 98px
        border-radius: 40px
      .frow
        padding-bottom: 0
      .form-idej__file
        margin-top: -12px
      .form-block__person
        padding-top: 0
  h2
    line-height: 50px
    margin-bottom: 30px
    @media (max-width: 1190px)
      font-size: 30px
      max-width: 300px
      line-height: 42px
      margin-bottom: 51px