.top_block_page
  position: relative
  .container
    width: 100vw
    padding-right: 0
    padding-left: 0
  &__text_block
    position: absolute
    top: 186px
    left: 50%
    transform: translateX(-50%)
    .title
      color: #4473b9
      font-size: 48px
      line-height: 54px
      +FFGB